html,
body,
header,
#intro {
    height: 100%;
}

#intro {
    background: url("../../img/Navi-Wallpaper-9.jpg")no-repeat center center fixed;
    -webkit-background-size: cover; /* 针对Chrome, Safari, Edge等浏览器 */
    -moz-background-size: cover;    /* 针对Firefox浏览器 */
    -o-background-size: cover;      /* 针对Operallq */
    background-size: cover;         /* 通用 */
}

.top-nav-collapse {
  background-color: #24355C;
}

.float-button{
	width: 30px;
	height: 70px;
	border-radius: 10px;
	position: fixed;
	right: 100px;
	bottom: 30%;
}
